body{
    background-image: radial-gradient(circle, #b4f0fa, #bcf3f9, #c4f5f8, #ccf8f7, #d4faf7);

    
}
.fondoingresa{
    background-color: lightgray;
}
.fondocontacto{
    background-color: lightgray;
}
.acercade1{
    background-color: lightgray;
}